{% if request.user.is_authenticated %}
<p>{{request.user}}'s To do List</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>TO DO LIST</h1>
<a href="{% url 'createTask' %}">Create a Task</a>
<table>
    <tr>
        <th>Items</th>
    </tr>
    {% for task in TodoList %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'detail' task.id %}">Show</a></td>
        <td><a href="{% url 'updateTask' task.id %}">Update</a></td>
        <td><a href="{% url 'deleteTask' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No to do list items</h3>
    {% endfor%}
</table>